<%= form_for @trip do |t| %>

<div>
  <%= t.label :trip_id %>
  <%= t.text_field :id %>
</div>

<div>
  <% unless @trip.passenger_id %>
  <%= t.label :passenger %>
  <%= t.select :passenger_id, Passenger.all.map{ |pass| [pass.id, pass.name]}%>
  <% else %>
  <%= t.label :passenger_id %>
  <%= t.text_field :passenger_id %>
  <% end %>
</div>

<div>
  <%= t.label :driver %>
  <%= t.text_field :driver %>
</div>

<div>
  <%= t.label :rating %>
  <%= t.number_field :rating %>
</div>

<div>
  <%= t.label :cost %>
  <%= t.number_field :cost %>
</div>

<div>
  <%= t.submit "Start Trip!" %>
</div>

<% end %>
