<%= form_for @trip do |t| %>
<div>
  <%= t.label :trip_id %>
  <%= t.text_field :trip_id %>
</div>

<div>
  <%= t.label :passenger %>
  <%= t.select :trip.passenger.name %>
</div>

<div>
  <%= t.label :driver %>
  <%= t.text_field Driver.order("RANDOM()").first %>
</div>

<div>
 <%= t.label :rating %>
 <%= t.number_field :rating %>
</div>

<div>
  <%= t.label :cost %>
  <%= t.number_field :cost %>
</div>
