<% render partial: "layouts/error_messages", locals: {model: @trip } %>

<section class="trip_form">
  <%= form_for @trip do |t| %>
    <%= t.label :date %>
    <%= t.date_field :date %>
    <% unless @trip.passenger_id %>
    <%= t.label :passenger %>
    <%= t.select :passenger_id, Passenger.all.map{ |pass| [pass.id, pass.name] } %>
    <% else %>
    <%= t.label :passenger %>
    <%= t.text_field :passenger_id, readonly: true %>
    <% end %>

    <%= t.label :driver %>
    <%= t.text_field :driver_id %>
    <%= t.label :rating %>
    <%= t.number_field :rating %>
    <%= t.label :cost %>
    <%= t.number_field :cost, readonly: true %>
    <%= t.submit "Start Trip!" %>
  <% end %>
</section>
