<h3>Details of the Trip:</h3>

<section>
  Trip ID:
  <%= @trip[:id] %>
  Date:
  <%= @trip[:date] %>
  Driver:
  <%= link_to(@trip.driver.name, driver_path(@trip.driver)) %>
  Passenger:
  <%= link_to(@trip.passenger.name, passenger_path(@trip.passenger)) %>
  Rating:
  <%= @trip[:rating] %>
  Cost: $
  <% if @trip[:cost] == nil %>
  <%=  @trip[:cost] = 0 %>
  <% else %>
  <%= (@trip[:cost] * 0.01).round(2) %>
  <% end %>
</section>

<button>
  <%= link_to( 'Edit Trip', edit_trip_path(@trip)) %>
</button>
<button>
  <%= link_to( 'Delete!', trip_path(@trip),
  method: :delete,
  data: { confirm: 'Are you sure?' }) %>
</button>
