<strong>Details of the Trip:</strong>
<section>
Trip ID:
<%= @trip[:id] %>
Driver:
<%= link_to(@trip.driver.name, driver_path(@trip.driver)) %>
Passenger:
<%= link_to(@trip.passenger.name, passenger_path(@trip.passenger)) %>
Rating:
<%= @trip[:rating] %>
Cost:
<%= @trip[:cost] * 0.01 %>
</section>
