<%= form_for @passenger do |p| %>
<div>
  <%= p.label :name %>
  <%= p.text_field :name %>
</div>

<div>
  <%= p.label :Phone_Number %>
  <%= p.text_field :phone_num %>
</div>
<button>
<%= p.submit "Create Passenger!" %>
</button>
<% end %>
