<h4>Edit Driver:</h4>

<%= form_for @driver do |d| %>
<%= d.label :id %>
<%= d.number_field :id %>

<%= d.label :name %>
<%= d.text_field :name %>

<%= d.label :vin %>
<%= d.text_field :vin %>

<%= d.submit 'Update!' %>
<% end %>
