<% render partial: "layouts/error_messages", locals: {model: @driver } %>

<h2>Edit Driver ID: <%= @driver.id %> </h2>

<%= form_for @driver do |d| %>
  <%= d.label :driver %>
  <%= d.hidden_field :id %>
  <%= d.label :name %>
  <%= d.text_field :name %>
  <%= d.label :vin %>
  <%= d.text_field :vin %>
<%= d.submit 'Update!' %>
<% end %>
