<h2>Drivers!</h2>

<div class="toggle">
  <%= paginate @drivers, outer_window: 3 %>
</div>

<div class="driver_title">
  <ul>
    <li>ID</li>
    <li>NAME</li>
    <li>EDIT</li>
  </ul>
</div>

<div class="driver_list">
<ul>
  <% @drivers.each do |driver| %>
  <li><%= driver.id %></li>
  <li><%= link_to(driver.name, driver_path(driver) ) %></li>
    <li class="button">
      <button>
        <%= link_to('Edit', edit_driver_path(driver)) %>
      </button>
      <button>
        <%= link_to('Delete', driver_path(driver.id), method: :delete, data:
        {confirm: "Are you sure you what to delete this driver?"}) %>
      </button>
  </li>
  <% end %>
</ul>
</div>
