<% render partial: "layouts/error_messages", locals: {model: @driver } %>

<h3>New Driver</h3>
<%= form_for @driver do |d| %>
<div>
  <%= d.label :name %>
  <%= d.text_field :name %>
</div>

<div>
  <%= d.label :vin %>
  <%= d.text_field :vin %>
</div>

<div>
  <%= d.submit "Add Driver!" %>
</div>
<% end %>
