<strong>Driver Details</strong>
<p>Driver ID: <%= @drivers[:id] %></p>
<p>Name: <%= @drivers[:name] %></p>
<p>VIN: <%= @drivers[:vin] %></p>

<button>
  <%= link_to "Edit this driver", edit_driver_path(@drivers) %>
</button>

<button>
  <%= link_to('Delete this driver', driver_path(@drivers[:id]), method: :delete, data:
  {confirm: 'Are you sure you want to delete this driver?'}) %>
</button>
